<div class="menu-bar">
  <a routerLink="view-content-query"
    class="menu-item"
    routerLinkActive="active">View Content Query</a>
  <a routerLink="view-container-ref"
    class="menu-item"
    routerLinkActive="active">View Container Ref</a>
  <a routerLink="template-outlet"
    class="menu-item"
    routerLinkActive="active">Template Outlet</a>
  <a routerLink="dynamic-component"
    class="menu-item"
    routerLinkActive="active">Dynamic Component</a>
  <a routerLink="zone-demo"
    class="menu-item"
    routerLinkActive="active">Ng Zone Demo</a>
</div>

<router-outlet></router-outlet>
